<h2><%=t :users %></h2>

<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
	<tr>
		<th><%=t :login %></th>
		<th><%=t :name %></th>
		<th><%=t :status %></th>
		<th>&nbsp;</th>
	</tr>
	
	<% @users.each_with_index do |user, index| %>	
		<tr class="<%= 'even' if index.modulo(2) == 0 %> hover">
			<td><%= kryptonite_table_cell_link user.login, kryptonite_user_path(user) %></td>
			<td><%= kryptonite_table_cell_link user.name, kryptonite_user_path(user) %></td>
			<td><%= kryptonite_table_cell_link kryptonite_get_access_level_text(user.access_level), kryptonite_user_path(user) %></td>
			<td class="delete">
				<% if user.is_admin? == false || Kryptonite::User.has_more_than_one_admin %>
					<% confirm_message = t(:delete_user_confirm, :user=>user.name) %>
			
					<% if user.id == @session_user.id %>
						<% confirm_message += t(:warning_delete_admin) %>
					<% end %>
				
					<%= link_to(kryptonite_show_row_icon("delete"), kryptonite_user_path(user), :method => :delete, :confirm => confirm_message) %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= will_paginate @users %>

<%= content_for :sidebar do %>
  <li><%= link_to "#{kryptonite_show_icon('add')}#{t(:add_new_user)}".html_safe, new_kryptonite_user_path %></li>
<% end %>