<h2>Add a new user</h2>

<%= form_for @kryptonite_user do |form| %>

	<div class="tfContainer">
		<%= kryptonite_text_field form, @kryptonite_user, :login, {:size => 30} %>
	</div>
	
	<div class="tfContainer tfContainerSecond">
		<%= kryptonite_text_field form, @kryptonite_user, :name %>
	</div>
	
	<div class="tfContainer">
		<%= kryptonite_text_field form, @kryptonite_user, :email %>
	</div>

	<div class="tfContainer tfContainerSecond">
		<%= kryptonite_time_zone_select form, @kryptonite_user, :time_zone, ActiveSupport::TimeZone.us_zones %>
	</div>
	
	<div class="tfContainer">
		<%= kryptonite_select form, @kryptonite_user, :access_level, kryptonite_get_access_level_array, {:kryptonite_label => "Status"} %>
	</div>

	<div class="tfContainer tfContainerSecond">
	</div>

	<div class="tfContainer">
		<%= kryptonite_password_field form, @kryptonite_user, :password, {:kryptonite_label => "Password"} %>
	</div>
	
	<div class="tfContainer tfContainerSecond">
		<%= kryptonite_password_field form, @kryptonite_user, :password_confirmation, {:kryptonite_label => "Repeat password"} %>
	</div>

	<div class="clearer"></div>

	<p class="submits">
		<%= form.submit "Add new user", :class => "update" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
  <li><%= link_to "#{kryptonite_show_icon('table')}Back to list".html_safe, kryptonite_users_path %></li>
<% end %>